body {
  /* background-color: rgba(0, 0, 0, 0.701);
   */
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.772);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  background-image: url('./assets/images/image.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-origin: padding-box;
  background-clip:padding-box;
  background-attachment: fixed;
  background-blend-mode: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
